/* global start */
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: rgb(19, 19, 19);
    /* background-color: red; */
}

body{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    max-height: 1080px;
    margin: auto;
}
/* global end */

/* index start */

/* Header start */
.figmaHeader{
    display: flex;
    /* background-color: rgb(0, 255, 157); */
    /* border:solid black; */
    /* width: 100vw; */
    justify-content: flex-end;
    padding-right: 64px;
    padding-top: 48px;
    /* height: 5vh; */
    

}

.nav{
    display: flex;
    gap: 16px;
}
.nav a{
    font-size: 1.5rem;
    font-weight: 800;
}
.navBlock{
    display: flex;
    gap: 16px;
}
.navBlock a{
    font-size: 1.5rem;
    font-weight: 800;
}
.navBlock a:first-child{
    font-size: 1.5rem;
    font-weight: 800;
    color: red;
}
.navWork {
    display: flex;
    gap: 16px;
}
.navWork a{
    font-size: 1.5rem;
    font-weight: 800;
}
.navWork a:nth-child(2){
    font-size: 1.5rem;
    font-weight: 800;
    color: red;
}


/* .nav > :nth-child(2){
    color: red;
} */
/* Header end */



/* main start */
.figmaMain{
    /* background-color: green; */
    /* height: 85vh; */
    /* border: solid purple; */
    margin-top: 80px;

}

.intro{
    /* background-color: #d71919; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;

}



.introImage{

    display: flex;
    justify-content: center;
    /* border: solid black; */
    width: 25%;
    height: 25%;
    padding-bottom: 48px;
}

.introImage img{
    border-radius: 50%;
    width: 75%;
    height: 75%;
}

.introContent{
    /* border: solid black; */
    width: 60%;
    padding-top: 48px;
    margin-left: 256px;
    padding-right: 40px;
}

.introContentText  p:nth-child(1)
, .introContentText p:nth-child(2){
    font-size: 3rem;
    line-height: 4px;

}

.introContentText p:nth-child(4){
    font-size: 1.5rem;
}

.introContent button{
    background-color: orangered;
    border: solid white;
    color: white;
    padding:12px 24px 12px 24px;
    border-radius: 10%;
    
}

.recentPost{
    display: flex;
    flex-direction: column;
    background-color: #d1eefa;
    padding-bottom: 48px;

}

.recentPostDisplay{
    padding-left: 16px;
    padding-right: 256px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 256px;
}

.recentPostDisplay p:nth-child(1){
    /* color: rgb(21, 198, 221); */
    font-size: 1.5rem;
}
.recentPostDisplay p:nth-child(2){
    color: rgb(21, 198, 221);
    font-size: 1.5rem;
}

.recentPost1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: solid black; */
    gap: 30px;
    margin-right:260px;
    margin-left: 260px;
    /* margin-bottom: 32px; */
    /* padding-bottom: 128px; */
}
.left_recent_post,.right_recent_post{
/* border: solid black; */
background-color: #fff;
padding: 8px;
margin-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
}

.left_recent_post p:first-child,.right_recent_post p:first-child{
    font-size: 2.7rem;
}

.left_recent_post p:nth-child(2),
.right_recent_post p:nth-child(3){
    font-size: 1.5rem;
}

.left_recent_post p:nth-child(4),
.right_recent_post p:nth-child(5){
    font-size: 1.2rem;
    line-height: 2rem;
}
.left_recent_post_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    
}

.left_recent_post_1 p{
    font-size: 1rem;
}

.featuredWork{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 256px;
    /* padding-right: 128px; */

}

.featuredWork > p{
    font-size: 1.5rem;
}

.featuredWork_content_1, 
.featuredWork_content_2, 
.featuredWork_content_3{
    display: flex;
    border-bottom: solid rgb(161, 160, 160) 0.25px;
    margin-top: 16px;
    gap: 32px;
    /* background: red; */
    padding-right: 128px;
    padding-bottom: 8px;
}
.featuredWork_content_1_text_button,
.featuredWork_content_2_text_button,
.featuredWork_content_3_text_button{
    display: flex;
    align-items: center;
    /* justify-content: ; */
    gap: 16px;
    margin-top: 0px ;
}

.featuredWork_content_1_text,
.featuredWork_content_2_text,
.featuredWork_content_3_text{
    display: flex;
    flex-direction: column;
    padding-right: 256px;
}

.featuredWork_content_1_text_button button,
.featuredWork_content_2_text_button button,
.featuredWork_content_3_text_button button{
    background-color: black;
    border-radius: 30%;
    color: white;
}
.featuredWork_content_1_text p:first-child,
.featuredWork_content_2_text p:first-child,
.featuredWork_content_3_text p:first-child{
    font-weight: bolder;
    font-size: 2rem;
}
.featuredWork_content_1_text p:nth-child(3),
.featuredWork_content_2_text p:nth-child(3),
.featuredWork_content_3_text p:nth-child(3){
    font-weight: bolder;
    font-size: 1rem;
}



/* main End */

/* footer Start */
.footerLayout{
/* background-color: red; */
display: flex;
flex-direction: column;
align-items: center;
margin-top: 128px;
}
.figmaFooter{
    /* background-color: rgb(131, 131, 185); */
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.figmaFooter img{
    height: 50px;
    width: 50px;
    /* display: inline-block; */
}
/* footer End */

/* index end */